<link rel="stylesheet" href="https://bootswatch.com/{{szablon}}/bootstrap.min.css">

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">ngShop</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <!--ng-class przypisze klasę active pod warunkiem podanym po dwukropku (tutaj warunkiem jest funkcja isActive i jako parametr przyjmuje adres-->
              <li ng-class="{ active : isActive( '/products' ) }"><a href="#/products">Produkty</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-if="cart" ng-class="{ active : isActive( '/cart' ) }"><a href="#/cart">Koszyk</a></li>
              <li ng-class="{ active : isActive( '/orders' ) }"><a href="#/orders">Zamówienia</a></li>
              <li ng-class="{ active : isActive( '/login' ) }" ng-if="!loggedIn"><a href="#/login">Logowanie</a></li>
              <li ng-class="{ active : isActive( '/logout' ) }" ng-if="loggedIn"><a href="" ng-click="logout()">Wyloguj się</a></li>
              <li ng-class="{ active : isActive( '/register' ) }" ng-if="!loggedIn"><a href="#/register">Rejestracja</a></li>
              <li ng-class="{ active : isActive( '/admin' ) }" ng-if="isAdmin"><a href="#/admin/users">Admin</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="alert alert-warning" ng-if="noAdmin">
        Nie jesteś adminem.
      </div>

    <div class="col-xs-6 pull-right">
      <select class="form-control" ng-model="szablon">
        <option ng-repeat="name in [ 'cosmo', 'darkly', 'flatly', 'lumen' ]">{{name}}</option>
      </select>
    </div>

    </div>
  </div>
</div>