<form ng-submit="saveChanges( product )">

<div class="container" nv-file-drop="" uploader="uploader">
  <div class="row">

    <div class="col-sm-6">

      <div class="form-group">
        <label>Nazwa produktu</label>
        <input type="text" class="form-control" ng-model="product.name">
      </div>

      <div class="form-group">
        <label>Waga:</label>
        <input type="text" class="form-control" ng-model="product.weight">
      </div>

      <div class="form-group">
        <label>Opis</label>
        <textarea rows="5" class="form-control" ng-model="product.description"></textarea>
      </div>

      <div class="form-group">
        <label>Cena</label>
        <input type="text" class="form-control" ng-model="product.price">
      </div> 



        <h3>Upload zdjęć</h3>

        <div ng-show="uploader.isHTML5">
            <!-- 3. nv-file-over uploader="link" over-class="className" -->
            <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                Przeciągnij i upuść tutaj
            </div>
        </div>

        <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <input class="btn btn-default" type="file" nv-file-select="" uploader="uploader" multiple  /><br/>


        <table class="table">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th ng-show="uploader.isHTML5">Size</th>
                    <th ng-show="uploader.isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td>
                        <strong>{{ item.file.name }}</strong>
                        <!-- Image preview -->
                        <!--auto height-->
                        <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                        <!--auto width-->
                        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                        <!--fixed width and height -->
                        <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                    </td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <div>
                Stan Kolejki:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
        </div>




    </div>

    <div class="col-sm-6">

      <h2>{{product.name}}</h2>
      <p>Waga: {{product.weight}}</p>
      <p>{{product.description}}</p>
      <h3><span class="label label-warning">
        {{product.price | number:2}} zł
      </span></h3>

      <div ng-repeat="image in images">
          <div class="pull-left" style="position:relative;">
              <!--przycisk usuwania obrazka ,trzeba okreslic type jako button  ,żeby formularz nie wykrywal tego przycisku jako przycisk submit do formularza-->
              <!--w funkcji delImage przekazujemy konkretny obrazek , czyli image zgodnie z image w ng-repeat, przekazujemy tez drugi parametr $index po to, żeby usunąć z widoku ze scope zdjęcie (nie tylko z serwera), a do tego potrzeba indexu-->
              <button type="button" ng-click="delImage( image , $index )" class="btn btn-danger btn-xs" style="position:absolute; right:0;"><strong>&times;</strong></button>
              <!--wyswietlanie obrazka o z folderu o konkretnym id (nazwa id zgodnie ze scope podanym w kontrolerze-->
              <img ng-click="setThumb( product , image )" ng-src="uploads/{{product.id}}/{{image}}" alt="" style="width:150px; margin:5px; cursor: pointer;" class="img-thumbnail">
          </div>
      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-sm-12 text-right">
      <hr>
        <!-- przy pomocy routingu przycisk przekierowuje z powrotem do listy produktów -->
        <a href="#/admin/products" class="btn btn-default">Wróć</a>
        <!-- przycisk zapisuje wprowadzone zmiany -->
        <button type="submit" class="btn btn-primary" ng-if="!success">Zapisz zmiany</button>
        <!-- przycisk pokazujący się na chwilę po zapisaniu zmian -->
        <button type="button" class="btn btn-success" ng-if="success" disabled>Zmiany zapisane</button>
      <p>&nbsp;</p>
    </div>
  </div>
</div>

</form>