<form ng-submit="createProduct( product )">

<div class="container">
  <div class="row">

    <div class="col-sm-6">

      <div class="form-group">
        <label>Nazwa produktu</label>
        <input type="text" class="form-control" ng-model="product.name">
      </div>

      <div class="form-group">
        <label>Waga:</label>
        <input type="text" class="form-control" ng-model="product.weight">
      </div>

      <div class="form-group">
        <label>Opis</label>
        <textarea rows="5" class="form-control" ng-model="product.description"></textarea>
      </div>

      <div class="form-group">
        <label>Cena</label>
        <input type="text" class="form-control" ng-model="product.price">
      </div>                  

    </div>

    <div class="col-sm-6">

      <h2>{{product.name}}</h2>
      <p>Waga: {{product.weight}}</p>
      <p>{{product.description}}</p>
      <h3><span class="label label-warning">
        {{product.price | number:2}} zł
      </span></h3>

    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr>
      <!-- przycisk zapisuje wprowadzone zmiany -->
      <button type="submit" class="btn btn-primary" ng-if="!success">Dodaj produkt</button>
      <!-- przycisk pokazujący się na chwilę po zapisaniu zmian -->
      <button type="button" class="btn btn-success" ng-if="success" disabled>Produkt dodany</button>
      <!-- przy pomocy routingu przycisk przekierowuje z powrotem do listy produktów -->
      <a href="#/admin/products" class="btn btn-default">Wróć</a>
      <p>&nbsp;</p>
    </div>
  </div>
</div>

</form>