<div class="container">
  <div class="row">

    <div class="col-xs-6">
      <!-- input służący jako filtorwanie pobranych wartości poniżej poprzez model "search" -->
      <input type="text" class="form-control" placeholder="szukaj..." ng-model="search">
      <br>
    </div>

    <div class="col-xs-6 text-right">
      <!-- ondośnik przenoszący do template'a obsługującego dodawanie produktów -->
      <a href="#/admin/product/create" class="btn btn-success">Nowy produkt</a>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <!-- filtrowanie odbywa się po modelu wyżej o nazwie search umieszczonym w inpucie -->
      <div ng-repeat="product in products | filter : search">

        <div class="panel panel-default">
          <div class="panel-body">

            <h2>
              {{product.name}}
              <!-- filter dodaje dwa miejsca po przecinku -->
              <span class="label label-warning pull-right">cena: {{product.price | number:2}} zł</span>
            </h2>

            <h3><span class="label label-info">Waga: {{product.weight}} kg</span></h3>
            <br>

            <p>{{product.description}}</p>
            <br>

            <a href="#/admin/product/edit/{{product.id}}" class="btn btn-success">Edytuj</a>
            <button ng-click="delete( product , $index )" class="btn btn-danger pull-right">Usuń</button>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>