<form ng-submit="createUser( user )">

<div class="container">
  <div class="row">

    <div class="col-sm-4 center-block">

      <div class="form-group" ng-class="{ 'has-error' : errors.name, 'has-success' : !errors.name && submit && !success }">
        <label>Imię</label>
        <input type="text" class="form-control" ng-model="user.name">
        <span class="text-danger">{{errors.name}}</span>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : errors.email, 'has-success' : !errors.email && submit && !success }">
        <label>Email:</label>
        <input type="text" class="form-control" ng-model="user.email">
        <span class="text-danger">{{errors.email}}</span>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : errors.password, 'has-success' : !errors.password && submit && !success }">
        <label>Hasło</label>
        <input type="password" class="form-control" ng-model="user.password">
        <span class="text-danger">{{errors.password}}</span>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : errors.passconf, 'has-success' : !errors.passconf && submit && !success }">
        <label>Powtórz hasło</label>
        <input type="password" class="form-control" ng-model="user.passconf">
        <span class="text-danger">{{errors.passconf}}</span>
      </div>

      <div class="form-group">
        <label>Rola</label>
        <select class="form-control" ng-model="user.role">
          <option value="user">user</option>
          <option value="admin">admin</option>
        </select>
      </div>

      <hr>
      <!-- przycisk zapisuje wprowadzone zmiany -->
      <button type="submit" class="btn btn-primary" ng-if="!success">Dodaj użytkownika</button>
      <!-- przycisk pokazujący się na chwilę po zapisaniu zmian -->
      <button type="button" class="btn btn-success" ng-if="success" disabled>Użytkownik dodany</button>
      <a href="#/admin/users" class="btn btn-default">Wróć</a>

      <p>&nbsp;</p>      

    </div>

  </div>
</div>

</form>